@charset "UTF-8";

.mobile .buttons {
	height: 50px;
	margin-top: 100px;
}

a {	text-decoration: none; color: Black; }

.text-small { font-size: 13px; color: Grey; }
.text-middle { font-size: 14px; color: Grey; }
.text-large { font-size: 15px; color: Grey; }