@charset "UTF-8";

.mobile .buttons {
	height: 50px;
	margin-top: 100px;
}

a {
	text-decoration: none;
	color: Black;
}

.text-small {
	font-size: 13px;
	color: Grey;
}

.text-middle {
	font-size: 14px;
	color: Grey;
}

.text-large {
	font-size: 15px;
	color: Grey;
}

li {
	list-style: none;
}

/*---------------- 우측 윙 시작 ---------------*/
#rWingNav {
	position: absolute;
	top: 50%;
	left: 0;
	width: 50px;
	margin-top: -157.5px;
	z-index: 9999999999
}

#rWingNav li {
	position: relative;
	list-style: none;
}

#rWingNav li button {
	width: 50px;
	height: 50px;
	border: 0;
	font-size: 1.325em;
	color: #f00;
	background: #444B57;
}

#rWingNav .button_title {
	display: none;
	position: absolute;
	top: 0px;
	right: 60px;
	white-space: pre;
	padding: 0 8px;
	line-height: 26px;
	color: #fff;
	background: #444B57;
	font-size: 1em;
	border-radius: 3px
}

#rWingNav .button_title:after {
	content: "";
	position: absolute;
	top: 8px;
	right: -8px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #444B57;
	color: transparent;
}

#rWingNav li:hover .button_title {
	display: block
}

#rWingButton {
	display: block;
	position: fixed;
	width: 45px;
	height: auto;
	right: 0;
	z-index: 9
}

.navButton {
	position: fixed;
	font-size: 12px;
	top: 250px;
	width: 50px;
	height: 30px;
	line-height: 22px;
	padding: 3px 0 0 11px;
	right: -20px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 0 0 5px;
	background: rgba(255, 255, 255, 0.5)
}

#rWing {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    transition: 0.3s all ease;
    transition: 0.2s all;
    padding: 0 0;
    width: 300px;
    transform: translateX(420px);
}

#rWing.open {
    transform: translateX(0px);
    box-shadow: 0 0px 39px 10px rgba(0, 0, 0, 0.2);
}

#rWingMask {
	position: fixed;
	top: 0;
    bottom: 0;
    right: 300px;
	width: 100%;
	background: black;
	height: 100vh;
	opacity: 0.3;
}

#rWing .rWingLink:hover {
	background: PapayaWhip;
}

/*---------------- 우측 윙 끝 ---------------*/