@charset "UTF-8";

.fullFrame{
	width: 400px;
	height: 500px;
}
.header{
	border-bottom: 1px solid #D9D9D9;
}

.blockList{
	border: 5px solid #D5D5D5;
	width: -webkit-fill-available;
}
.UnblockIdButton{
	background-color: #F58500;
}
.closeButton{
	background-color: #F58500;
	width: 150px;
	height: 60px;
	font-size: 20px;
	line-height: 2;
}