@charset "UTF-8";

.height{
	height: 78px;
}
article i{
	color: gray;
}

/* a 태그 */
a {text-decoration: none;}

/* categoryNoButton */
.categoryNoButton a:link {
	border: 1px solid #E3E5E9;
	border-radius: 7px;
	color: #7A7A80;
}
.categoryNoButton a:visited {
	border: 1px solid #E3E5E9;
	border-radius: 7px;
	color: #7A7A80;
}
.categoryNoButton a:hover {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}
.categoryNoButton a:active {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}

/* categoryNoButtonOnClick */
.categoryNoButtonOnClick a:link {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}
.categoryNoButtonOnClick a:visited {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}
.categoryNoButtonOnClick a:hover {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}
.categoryNoButtonOnClick a:active {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}

/* whiteFormButton */
.whiteFormButton a:link {
	border: 1px solid #E3E5E9;
	border-radius: 7px;
	color: #7A7A80;
}
.whiteFormButton a:visited {
	border: 1px solid #E3E5E9;
	border-radius: 7px;
	color: #7A7A80;
}
.whiteFormButton a:hover {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}
.whiteFormButton a:active {
	border: 1px solid #FCD147;
	border-radius: 7px;
	color: #ffffff;
	background-color: #FFB966;
}

.communityTitle a:link {color: gray;}
.communityTitle a:visited {color: gray;}
.communityTitle a:hover {color: #4aa5ff;}
.communityTitle a:active {color: 4aa5ff;}

.previousPage a:link {color: gray;}
.previousPage a:visited {color: gray;}
.previousPage a:hover {color: #4aa5ff;}
.previousPage a:active {color: 4aa5ff;}

.pageNumber a:link {color: gray;}
.pageNumber a:visited {color: gray;}
.pageNumber a:hover {color: #4aa5ff;}
.pageNumber a:active {color: 4aa5ff;}

.nextPage a:link {color: gray;}
.nextPage a:visited {color: gray;}
.nextPage a:hover {color: #4aa5ff;}
.nextPage a:active {color: 4aa5ff;}