@CHARSET "UTF-8";
/* body { */
/* 	background-color: #FDDD77; */
/* } */

header { 
	text-align: center;
	background-color: #FCD147;
}


footer {	
	background-color: #999999;
	text-align: right;
	color: white;
}
.LogoIMGSize{
	height: 35px;
}
.inlineBlock{
	display: inline-block;
}
.headerBackgroundColor{
	background-color: #FCD147;
}
.headerFontColor{
	background-color: #F58500;
}