@CHARSET "UTF-8";
/* body { */
/* 	background-color: #FDDD77; */
/* } */

header { 
	text-align: center;
}


footer {	
	background-color: #999999;
	text-align: right;
	color: white;
}
.LogoIMGSize{
	width: 120px;
	height: 35px;
}
