@charset "UTF-8";
/* 전체틀 */

body{
	font-size: 16px;
	background-color: white;
	
}
.inlineBlock{
	display: table-cell;
}
.fullFrame {
	background-color: white;
	

}
.nbsp; {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* 내정보 */
.myInformationsFrame{
	border: 1px solid #7A7A80;
	border-radius: 10px;
	height: auto;
	display: flex;
    text-align: center;
    align-items: center;
}

.myInformation1, .myInformation2, .myInformation3{
/* 	border: 1px dotted #7A7A80;	 */
	font-size: 16px;
}

.myInformation1 {
	width: 100%;
	border-radius: 100%;
	text-align: center;	
}
.myInformation2 {
	width: 100%;	
	text-align: left;
	
}
.mbIdFont {
	font-size: 20px;
	font-weight: 900;

}
.myInformationFont {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;

}
.myInformation3 {
	width: 100%;	
	font-size: 10px;
}

.buttons_ {
	text-align: center;
    margin: 4px;
    font-size: 16px;
    font-weight: 900;
    color: gray;
    
}
/* 리스트 별로 이동하는 버튼 */

.postListHeader {
	
}
.postListbutton, .replyListbutton, 
.communityListbutton, .likeListbutton{
	border-radius: 20px 0 0 0;
	display: table-cell;
}
.postListbutton {
	border-top: 1px solid #7A7A80;
	border-left: 1px solid #7A7A80;
	border-right: 1px solid #7A7A80;
	border-bottom: 1px solid #ffffff;
	
}
.replyListbutton {
	border: 1px solid #7A7A80;
}
.communityListbutton {
	border: 1px solid #7A7A80; 
}
.likeListbutton {
	border: 1px solid #7A7A80;
}
/* 리스트 */
.postListFrame {
	border: 1px solid black;
	display: inline-block;
	margin: -1px auto 10px;
	text-align: center;
}
.postFrame{
	border: 1px solid #7A7A80;
	text-align: center;
	display: flex;
    align-items: center;
}
.mainImg, .postContent, .upAndDel{
/* 	border: 1px dotted black; */
	display: inline-block;
}
.mainImg {
	border: 1px dotted black;
	width: 25%;
	height: 150px;
	border-radius: 10px;
}
.postContent {
	width: 60%;
	text-align: left;
}
.myInformationFont img{
	width: 25px;
	height: 25px;
}
.postTitle {
	font-size: 25px;
	font-weight: 900;
}
.upAndDel {
	width: 10%;
	display: inline-block;
}
.pageGroup {
/* 	border: 1px solid black; */
	text-align: right;
}
.페이지그룹버튼 {
	font-family: Inter;
	text-align: center;
	margin: 14px;
	font-size: 16px;
	display: inline-table;
}
/* a 태그 */
a {text-decoration: none;}

.buttons_ a:link {color: gray;}

.buttons_ a:visited {color: gray;}

.buttons_ a:hover {color: #4aa5ff;}

.buttons_ a:active {color: 4aa5ff;}