@charset "UTF-8";
/* 전체틀 */

body{
	font-size: 16px;
	background-color: white;
	
}

.fullFrame {
	background-color: white;
	

}
/* 내정보 */
.myInformationsFrame{
	border: 3px solid #B8BBC0;
	border-radius: 5px;
	height: auto;
	display: flex;
    align-items: center;
}

.mbIdFont {
	font-size: 20px;
	font-weight: 900;

}

/* 리스트 별로 이동하는 버튼 */

.postListHeader {
}
.postListbutton, .replyListbutton, 
.communityListbutton, .likeListbutton{
	border-radius: 20px 0 0 0;
	display: table-cell;
}
.postListbutton {
	border: 1px solid #FCD147;
    font-size: 16px;
    font-weight: 900;
    color: #F58500;
    background: #FCD147;
	
}
.replyListbutton {
	border: 1px solid #B8BBC0;
    font-size: 16px;
    font-weight: 900;
    color: gray;
}
.communityListbutton {
	border: 1px solid #B8BBC0;
    font-size: 16px;
    font-weight: 900;
    color: gray;
}
.likeListbutton {
	border: 1px solid #B8BBC0;
	text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: gray;
}
/* 리스트 */
.postListFrame {
/* 	background-color: #FCD147; */
}
.postFrame{
	display: flex;
    align-items: center;
}

.postContent {
	width: 60%;
	text-align: left;
}
.myInformationFont img{
	width: 15px;
	height: 15px;
}
.postTitle {
	font-size: 25px;
	font-weight: 900;
}
.upAndDel {
	width: 10%;
	display: inline-block;
}

.previousPage {
	color: gray;
}
.pageNumber {
	color: gray;
}
.nextPage {
	color: gray;
}
.fa-bell{
/* 	color: #F58500; */
}
/* a 태그 */
a {text-decoration: none;}

.buttons_ a:link {color: gray;}
.buttons_ a:visited {color: gray;}
.buttons_ a:hover {color: #4aa5ff;}
.buttons_ a:active {color: 4aa5ff;}

.postListbutton a:link {color: gray;}
.postListbutton a:visited {color: gray;}
.postListbutton a:hover {color: #4aa5ff;}
.postListbutton a:active {color: 4aa5ff;}

.replyListbutton a:link {color: gray;}
.replyListbutton a:visited {color: gray;}
.replyListbutton a:hover {color: #4aa5ff;}
.replyListbutton a:active {color: #4aa5ff;}

.communityListbutton a:link {color: gray;}
.communityListbutton a:visited {color: gray;}
.communityListbutton a:hover {color: #4aa5ff;}
.communityListbutton a:active {color: #4aa5ff;}

.likeListbutton a:link {color: gray;}
.likeListbutton a:visited {color: gray;}
.likeListbutton a:hover {color: #4aa5ff;}
.likeListbutton a:active {color: #4aa5ff;}

.postTitle a:link {color: #6a6767;}
.postTitle a:visited {color: #6a6767;}
.postTitle a:hover {color: #4aa5ff;}
.postTitle a:active {color: 4aa5ff;}

.previousPage a:link {color: gray;}
.previousPage a:visited {color: gray;}
.previousPage a:hover {color: #4aa5ff;}
.previousPage a:active {color: 4aa5ff;}

.pageNumber a:link {color: gray;}
.pageNumber a:visited {color: gray;}
.pageNumber a:hover {color: #4aa5ff;}
.pageNumber a:active {color: 4aa5ff;}

.nextPage a:link {color: gray;}
.nextPage a:visited {color: gray;}
.nextPage a:hover {color: #4aa5ff;}
.nextPage a:active {color: 4aa5ff;}

.updateButton a:link {color: black;}
.updateButton a:visited {color: black;}
.updateButton a:hover {color: #4aa5ff;}
.updateButton a:active {color: 4aa5ff;}

.deleteButton a:link {color: black;}
.deleteButton a:visited {color: black;}
.deleteButton a:hover {color: #4aa5ff;}
.deleteButton a:active {color: 4aa5ff;}