@charset "UTF-8";
.fullFrame{
	padding: 10px;
	box-sizing: border-box;
}
.profileheader{
/* 	font-size: 23px; */
	border-bottom: 2px solid black;
/* 	display: flex; */
/*     flex-direction: column */
}
.profileheaderHr{
	color: black;
	
}
.profileFrame1{
	text-align: center;
	display: flex;
	align-items: center;
}
.profileIMG{
	border: 1px dotted black;
}

.myLocationTh{
	background: #c0c0c0;
	border: 1px solid #000000;
	border-radius: 10px 0 0 10px;
}
.myLocationTd{
	border: 1px solid #000000;
	border-radius: 0 10px 10px 0;
}

.buttonFrame{
	border-top: 1px solid #D5D5D5;
	
}
.closeButton{
	background-color: #dee2e6;
	color: black;
	width: 127px;
	height: 51.47px;
	font-weight: 500;
	font-size: 25px;
}
.chatStart{
	background-color: #F58500;
	color: white;
	width: 127px;
	height: 51.47px;
	font-weight: 500;
	font-size: 25px;
}

/* a */
a { text-decoration: none; }

.myPagePostButton a:link {color: black;}
.myPagePostButton a:visited {color: black;}
.myPagePostButton a:hover {color: #4aa5ff;}
.myPagePostButton a:active {color: 4aa5ff;}