<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yameokja.mappers.PostMapper">

	<!-- 가게 리뷰 리스트를 불러온다 -->
	<select id="postList" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post 
			WHERE store_no = #{storeNo} AND post_is_post = 1 
		ORDER BY post_no DESC;
	</select>
	
	<select id="bestOnePost" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post
		WHERE store_no = #{storeNo}
		ORDER BY post_up_count DESC
		LIMIT 0, 1
	</select>
	
	<select id="bestTwoPost" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post
		WHERE store_no = #{storeNo}
		ORDER BY post_up_count DESC
		LIMIT 1, 1
	</select>
	
	<select id="bestThreePost" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post
		WHERE store_no = #{storeNo}
		ORDER BY post_up_count DESC
		LIMIT 2, 1
	</select>
	
	<!-- 가게 댓글 리스트를 불러온다 -->
	<select id="postListReply" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post 
			WHERE store_no = #{storeNo} AND post_is_post = 0
		ORDER BY post_no DESC;
	</select>
	
	<!-- 가게 리뷰 디테일을 불러온다 -->
	<select id="getPost" resultType="Post" resultMap="postResultMap">
		SELECT * FROM post
			WHERE post_no = #{ postNo } 
		ORDER BY post_no DESC
	</select>
	
	
	

	<resultMap id="postResultMap" type="Post">
		<id property="postNo" column="post_no" />
		<result property="postTitle" column="post_title"/>
		<result property="postContent" column="post_content" />
		<result property="postFile1" column="post_file1" />
		<result property="postFile2" column="post_file2" />
		<result property="postFile3" column="post_file3" />
		<result property="postFile4" column="post_file4" />
		<result property="postFile5" column="post_file5" />
		<result property="postRegDate" column="post_reg_date" />
		<result property="postIsPost" column="post_is_post" />
		<result property="postStar" column="post_star" />
		<result property="postUpCount" column="post_up_count" />
		<result property="postUpList" column="post_up_list" />
		<result property="storeNo" column="store_no" />
		<result property="memberId" column="member_id" />
		<result property="memberNickname" column="member_Nickname" />
	</resultMap>
	
</mapper>