<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yameokja.mappers.StoreMapper">
	
	<!-- 가게 특정 카테고리 -->
 	<select id="storeList" resultType="Store" resultMap="storeResultMap" parameterType="HashMap">
		SELECT *
		 FROM store
		<where>
			<if test="categoryNo != 99">
				category_no = #{ categoryNo }	
			</if>
			<if test="categoryNo == 99">
				category_no = #{ categoryNo }	
			</if>
			<if test="keyword != 'null' ">
				AND store_address LIKE CONCAT('%',#{type},'%') AND store_name LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
				<trim prefix="ORDER BY">
					<choose>
                        <when test="orderBy == 'sName' "> store_name ASC </when>
                        <when test="orderBy == 'sReviewCount' "> store_review_count DESC </when>
                        <when test="orderBy == 'sBookmarks' "> store_bookmarks DESC </when>
                        <otherwise>store_no DESC</otherwise>
                     </choose>
                </trim>       
		LIMIT #{startRow}, #{num}
	</select>
	
	<!-- 가게 글 갯수 -->
	<select id="getStoreCount" resultType="int" parameterType="HashMap">
		SELECT COUNT(store_no)
		 FROM store
		<where>
			<if test="categoryNo != 99">
				category_no = #{ categoryNo }	
			</if>
			<if test="categoryNo == 99">
				category_no = #{ categoryNo }	
			</if>
			<if test="keyword != 'null' ">
				AND store_address = #{type} AND store_name LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<!-- 가게 상세 -->
	<select id="getStore" resultType="Store" resultMap="storeResultMap">
		SELECT * FROM store 
			WHERE store_no = #{store_no}
	</select>
	
	<!-- 가게 정보 입력 -->
	<insert id="insertStore" parameterType="Store"
	useGeneratedKeys="true" keyProperty="storeNo">
	INSERT INTO 
		store(store_name,	store_phone, store_latitude, store_longitude, store_file_main, 
				store_file_menu, store_address, store_time, store_bookmarks,store_day_off, 
				store_parking, category_no)
				
    VALUES(#{storeName}, #{storePhone}, #{storeLatitude}, #{storeLongitude},
    			#{storeFileMain}, #{storeFileMenu}, #{storeAddress}, #{storeTime}, null,
    			#{storeDayOff}, #{storeParking}, #{categoryNo})
	</insert>
	
	<!-- 가게 즐겨찾기 추가 -->
	<update id="addBookmarks">
		UPDATE store
			SET store_bookmarks = store_bookmarks + "1"
		WHERE store_no = #{storeNo}
	</update>
	
	<!-- 가게 즐겨찾기 삭제 -->
	<update id="deleteBookmarks">
		UPDATE store
			SET store_bookmarks = IF(store_bookmarks <![CDATA[<]]> "1", "0", store_bookmarks - "1")
		WHERE store_no = #{storeNo}
	</update>

	<resultMap id="storeResultMap" type="Store">
		<id property="storeNo" column="store_no" />
		<result property="memberId" column="member_id" />
		<result property="storeName" column="store_name" />
		<result property="storePhone" column="store_phone" />
		<result property="storeLatitude" column="store_latitude" />
		<result property="storeLongitude" column="store_longitude" />
		<result property="storeReadCount" column="store_read_count" />
		<result property="storeFileMain" column="store_file_main" />
		<result property="storeFileMenu" column="store_file_menu" />
		<result property="storeAddress" column="store_address" />
		<result property="categoryNo" column="category_no" />
		<result property="storeReviewCount" column="store_review_count" />
		<result property="storeStar" column="store_star" />
		<result property="storeBookmarks" column="store_bookmarks" />
		<result property="storeTime" column="store_time" />
		<result property="storeDayOff" column="store_day_off" />
		<result property="storeParking" column="store_parking" />
	</resultMap>
	
</mapper>