<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.project.yameokja.mappers.CategoryMapper">

	<resultMap id="categoryResultMap" type="Category">
		<id property="categoryNo" column="category_no" />
		<result property="categoryName" column="category_name" />
		<result property="categoryOrder" column="category_order" />
	</resultMap>

	<select id="categoryList" resultType="Category" resultMap="categoryResultMap">
		SELECT * FROM category
			<where>
				<if test="type == 'store'">
					category_no BETWEEN 1 AND 99
				</if>
				<if test="type == 'community'">
					category_no BETWEEN 101 AND 199
				</if>
				<if test="type == 'report'">
					category_no BETWEEN 301 AND 399
				</if>
			</where>
			ORDER BY category_order
	</select>
	
	<select id="getLastNo" resultType="Integer">
		SELECT category_no FROM category
			<where>
				<if test="type == 'store'">
					category_no BETWEEN 1 AND 99
				</if>
				<if test="type == 'community'">
					category_no BETWEEN 101 AND 199
				</if>
				<if test="type == 'report'">
					category_no BETWEEN 301 AND 399
				</if>
			</where>
			ORDER BY category_no DESC
			LIMIT 0,1
	</select>

	<select id="getLastOrder" resultType="Integer">
		SELECT category_order FROM category
			<where>
				<if test="type == 'store'">
					category_no BETWEEN 1 AND 99
				</if>
				<if test="type == 'community'">
					category_no BETWEEN 101 AND 199
				</if>
				<if test="type == 'report'">
					category_no BETWEEN 301 AND 399
				</if>
			</where>
			ORDER BY category_order DESC
			LIMIT 0,1
	</select>
	
	<select id="getCategory" resultType="Category" resultMap="categoryResultMap">
		SELECT * FROM category
			WHERE category_no = #{categoryNo}
	</select>
	
	<insert id="addCategory" parameterType="Category">
		INSERT INTO category (category_no, category_name, category_order)
			VALUE(#{categoryNo}, #{categoryName}, #{categoryOrder})
	</insert>
	
	<delete id="deleteCategory">
		DELETE FROM category
			WHERE category_no = #{categoryNo}
	</delete>
	
	<update id="updateCategory">
		UPDATE category
			SET category_name = #{categoryName},
				category_order = #{categoryOrder}
			WHERE category_no = #{categoryNo}
	</update>
	
</mapper>