<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yameokja.MemberMapper" >

	<select id="getMember" resultType="Member">
		SELECT 
					mb_id as mbId,
					mb_name as mbName,
					mb_photo as mbPhoto,
					mb_nickname as mbNickname,
					mb_password as mbPassword,
					mb_email as mbEmail,
					mb_address as mbAddress,
					mb_mobile as mbMobile,
					mb_bookmarks as mbBookmarks,
					mb_join_date as mbJoinDate,
					mb_del_date as mbDelDate,
					mb_favorite_category as mbFavoriteCategory,
					mb_level as mbLevel,
					mb_block_ids as mbBlockIds
		FROM member 
		WHERE mb_id = #{mb_id}
	</select>



	<resultMap id="MemberResultMap" type="Member">
		<id property="mbId" column="mb_id" />
		<result property="mbName" column="mb_name" />
		<result property="mbPhoto" column="mb_photo" />
		<result property="mbNickname" column="mb_nickname" />
		<result property="mbPassword" column="mb_password" />
		<result property="mbEmail" column="mb_email" />
		<result property="mbAddress" column="mb_address" />
		<result property="mbMobile" column="mb_mobile" />
		<result property="mbBookmarks" column="mb_bookmarks" />
		<result property="mbJoinDate" column="mb_join_date" />
		<result property="mbDelDate" column="mb_del_date" />
		<result property="mbFavoriteCategory" column="mb_favorite_category" />
		<result property="mbLevel" column="mb_level" />
		<result property="mbBlockIds" column="mb_block_ids" />
	</resultMap>

</mapper>	



