<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.StoreMapper">
 

	<resultMap id="postResultMap" type="Post">
		<id property="postNo" column="p_no" />
		<result property="postContent" column="p_content" />
		<result property="postFile1" column="p_file1" />
		<result property="postFile2" column="p_file2" />
		<result property="postFile3" column="p_file3" />
		<result property="postFile4" column="p_file4" />
		<result property="postFile5" column="p_file5" />
		<result property="postRegDate" column="p_reg_date" />
		<result property="postIsPost" column="p_is_post" />
		<result property="postStar" column="p_star" />
		<result property="postUpCount" column="p_up_count" />
		<result property="postUpList" column="p_up_list" />
		<result property="storeNo" column="store_no" />
	</resultMap>
	
</mapper>