<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yameokja.PostMapper" >

	
	<select id="myPostList" resultType="Post" parameterType="Post" resultMap="PostResultMap">
		SELECT 
					p_no as pNo,
					p_title as pTitle,
					p_content as pContent,
					p_read_count as pReadCount,
					p_file1 as pFile1,
					p_file2 as pFile2,
					p_file3 as pFile3,
					p_file4 as pFile4,
					p_file5 as pFile5,
					p_reg_date as pRegDate,
					p_is_post as pIsPost,
					p_star as pStar,
					p_up_count as pUpCount,
					p_up_list as pUpList,
					mb_id as mbId
		FROM post
		WHERE mb_id = #{mbId}
	</select>

	
	<resultMap id="PostResultMap" type="Post">
		<id property="pNo" column="p_no" />
		<result property="pTitle" column="p_title" />
		<result property="pContent" column="p_content" />
		<result property="pReadCount" column="p_read_count" />
		<result property="pFile1" column="p_file1" />
		<result property="pFile2" column="p_file2" />
		<result property="pFile3" column="p_file3" />
		<result property="pFile4" column="p_file4" />
		<result property="pFile5" column="p_file5" />
		<result property="pRegDate" column="p_reg_date" />
		<result property="pIsPost" column="p_is_post" />
		<result property="pStar" column="p_star" />
		<result property="pUpCount" column="p_up_count" />
		<result property="pUpList" column="p_up_list" />
		<result property="mbId" column="mb_id" />
	</resultMap>
</mapper>	



