<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.project.yameokja.mappers.MemberMapper">
	
	<!-- 로그인 -->
	<select id="login" resultMap="MemberResultMap">
		SELECT member_password FROM Member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원 정보 출력 -->
	<select id="getMember" resultMap="MemberResultMap">
		SELECT * FROM Member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="addMember" parameterType="member">
		INSERT INTO member(member_id, member_name, member_photo,
			 member_nickname, member_password, member_email, member_address,
			 member_mobile, member_bookmarks, member_join_date, member_del_date,
			 member_favorite_category, member_level, member_block_ids)
		VALUES(#{memberId}, #{memberName}, #{memberPhoto}, #{memberNickname}, #{memberPassword}, 
				#{memberEmail}, #{memberAddress}, #{memberMobile}, null, SYSDATE(), null,
				#{memberFavoriteCategory}, 1, null)
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="idOverlapCheck" resultType="String">
		SELECT member_id memberId FROM member 
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 닉네임 중복확인 -->
	<select id="nicknameOverlapCheck" resultType="String">
		SELECT member_nickname memberNickname FROM member 
		WHERE member_nickname = #{memberNickname}
	</select>
	
	<!-- 차단회원 추가/해제 -->
	<update id="memberBlock">
		UPDATE member
			SET member_block_ids = #{memberBlockIds} 
			WHERE member_id = #{memberId}
	</update>
		
	<resultMap type="Member" id="MemberResultMap">
		<id property="memberId" column="member_id" />
		<result property="memberPhoto" column="member_photo" />
		<result property="memberName" column="member_name" />
		<result property="memberNickname" column="member_nickname" />
		<result property="memberPassword" column="member_password" />
		<result property="memberEmail" column="member_email" />
		<result property="memberAddress" column="member_address" />
		<result property="memberMobile" column="member_mobile" />
		<result property="memberBookmarks" column="member_bookmarks" />
		<result property="memberJoinDate" column="member_join_date" />
		<result property="memberDelDate" column="member_del_date" />
		<result property="memberFavoriteCategory" column="member_favorite_category" />
		<result property="memberLevel" column="member_level" />
		<result property="memberBlockIds" column="member_block_ids" />
	</resultMap>
	
	
</mapper>